# Ignorar arquivos e diretórios do Docker
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
*.git
*.gitignore
Dockerfile
docker-compose.yml
entrypoint.sh
requirements.txt
Pipfile
README.md
tests/