<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Meu Projeto Django</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Conteúdo padrão -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Meu Projeto Django</p>
    </footer>
</body>
</html>